/* Base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f6f1; /* Light beige background */
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #5b4b35; /* Light brown color */
    margin-bottom: 20px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: #f0ece5; /* Light beige */
    margin-bottom: 10px;
    transition: background-color 0.3s;
    cursor: pointer; /* Make the entire row clickable */
  }
  
  li:hover {
    background-color: #e3dac9; /* Slightly darker beige on hover */
  }
  
  a {
    text-decoration: none;
    color: #5b4b35;
    font-weight: bold;
    flex-grow: 1; /* Allow the link to take available space */
  }
  
  button {
    background-color: #5b4b35;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: auto; /* Align the button to the right */
  }
  
  button:hover {
    background-color: #453829; /* Darker brown on hover */
  }
  
  .add-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #5b4b35;
    font-weight: bold;
  }

  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  /* Ensure form elements are displayed as blocks */
.detail-container form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .detail-container form input,
  .detail-container form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .detail-container form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  /* Add spacing between buttons */
.auth-container button {
    margin-top: 15px; /* Adjust the value as needed */
    width: 100%;
    padding: 10px;
    font-size: 16px;
  }
  
  .auth-container .register-button {
    margin-top: 10px; /* Additional spacing for the registration button */
  }
  